.search-container{
    border-bottom: 1px solid;
    width: 400px;
    margin: 2em;
}
.search-input{
    width: 260px;
    height: 28px;
    outline: none;
    border :none;
    color:#3c5057;
    font-size: 22px;
}
.search-btn{
    background-color: transparent;
    cursor: pointer;
    border: none;
    font-size: 28px;
}

@media (max-width: 767px) {
    .search-container{
        width: 300px;
    }
    .search-input{
        width: 260px;
    }
    .search-btn{
        font-size: 22px;
    }
}
